In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('../Dataset/cardekho_imputated.csv')

In [ ]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [ ]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [ ]:
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [ ]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [ ]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of numerical features: ',len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of categorical features: ',len(cat_features))
dis_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of discrete features: ',len(dis_features))
cont_features = [feature for feature in num_features if not dis_features]
print('Num of continuous feature: ',len(cont_features))

Num of numerical features:  8
Num of categorical features:  4
Num of discrete features:  2
Num of continuous feature:  0

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [ ]:
X.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [ ]:
y

0         120000
1         550000
2         215000
3         226000
4         570000
          ...
15406     250000
15407     925000
15408     425000
15409    1225000
15410    1200000
Name: selling_price, Length: 15411, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [ ]:
num_features = X.select_dtypes(exclude='object').columns
oh_columns = ['seller_type','fuel_type','transmission_type']
label_encoder_columns = ['model']

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,oh_columns),
        ('StandardScaler',numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [ ]:
X = preprocessor.fit_transform(X)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,y_train.shape

((12328, 15), (12328,))

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
def evaluate_model(true,predicted):
  mae = mean_absolute_error(true,predicted)
  mse = mean_squared_error(true,predicted)
  rmse =np.sqrt(mean_absolute_error(true,predicted))
  r2_square = r2_score(true,predicted)
  return mae, mse, rmse, r2_square

In [ ]:
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-Neighbors Regressor': KNeighborsRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor()
}

for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred = model.predict(X_train)
  y_test_pred = model.predict(X_test)

  model_train_mae, model_train_mse, model_train_rmse, model_train_r2_square = evaluate_model(y_train,y_train_pred)
  model_test_mae, model_test_mse, model_test_rmse, model_test_r2_square = evaluate_model(y_test,y_test_pred)

  print(list(models.keys())[i])

  print('Model Performance for Training Data')
  print('Mean Absolute Error: {:.4f}'.format(model_train_mae))
  print('Mean Squared Error: {:.4f}'.format(model_train_mse))
  print('Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
  print('R Square: {:.4f}'.format(model_train_r2_square))

  print('----------------------------------------')

  print('Model Performance for Test Data')
  print('Mean Absolute Error: {:.4f}'.format(model_test_mae))
  print('Mean Squared Error: {:.4f}'.format(model_test_mse))
  print('Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
  print('R Square: {:.4f}'.format(model_test_r2_square))

  print('='*35)

Linear Regression
Model Performance for Training Data
Mean Absolute Error: 268104.1303
Mean Squared Error: 306749877172.0585
Root Mean Squared Error: 517.7877
R Square: 0.6218
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 279686.6479
Mean Squared Error: 252588750547.2280
Root Mean Squared Error: 528.8541
R Square: 0.6645
===================================
Lasso
Model Performance for Training Data
Mean Absolute Error: 268101.7491
Mean Squared Error: 306749882060.9022
Root Mean Squared Error: 517.7854
R Square: 0.6218
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 279682.7929
Mean Squared Error: 252587811682.4361
Root Mean Squared Error: 528.8504
R Square: 0.6645
===================================
Ridge
Model Performance for Training Data
Mean Absolute Error: 268061.4421
Mean Squared Error: 306750591340.8743
Root Mean Squared Error: 517.7465
R Square: 0.6218
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 279625.1576
Mean Squared Error: 252578974672.5163
Root Mean Squared Error: 528.7960
R Square: 0.6645
===================================
K-Neighbors Regressor
Model Performance for Training Data
Mean Absolute Error: 96905.2401
Mean Squared Error: 112533958049.9676
Root Mean Squared Error: 311.2961
R Square: 0.8612
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 124343.6669
Mean Squared Error: 91424152395.5968
Root Mean Squared Error: 352.6240
R Square: 0.8786
===================================
Decision Tree
Model Performance for Training Data
Mean Absolute Error: 0.0000
Mean Squared Error: 0.0000
Root Mean Squared Error: 0.0000
R Square: 1.0000
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 130394.3805
Mean Squared Error: 109164658860.0795
Root Mean Squared Error: 361.1016
R Square: 0.8550
===================================
Random Forest Regressor
Model Performance for Training Data
Mean Absolute Error: 36103.7597
Mean Squared Error: 16990830916.4422
Root Mean Squared Error: 190.0099
R Square: 0.9791
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 99249.3561
Mean Squared Error: 56457576121.1888
Root Mean Squared Error: 315.0387
R Square: 0.9250
===================================

In [ ]:
#hyperparameter Tuning
knn_params = {'n_neighbors':[2,3,10,20,40,50]}
rf_params = {'max_depth':[5,8,15,None,10],
             'max_features':[5,7,'auto',8],
             'min_samples_split':[2,8,15,20],
             'n_estimators':[100,200,500,1000]}

In [ ]:
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ('RF',RandomForestRegressor(),rf_params)]

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name,model,params in randomcv_models:
  random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
  random.fit(X_train,y_train)
  model_param[name] = random.best_params_

for model_name in model_param:
  print(f'---------- Best Params for {model_name} ----------')
  print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------- Best Params for KNN ----------
{'n_neighbors': 2}
---------- Best Params for RF ----------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}

In [ ]:
models = {
    'K-Neighbors Regressor': KNeighborsRegressor(n_neighbors=2),
    'Random Forest Regressor': RandomForestRegressor(n_estimators=100,max_depth=15,max_features=7,min_samples_split=2)
}

for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred = model.predict(X_train)
  y_test_pred = model.predict(X_test)

  model_train_mae, model_train_mse, model_train_rmse, model_train_r2_square = evaluate_model(y_train,y_train_pred)
  model_test_mae, model_test_mse, model_test_rmse, model_test_r2_square = evaluate_model(y_test,y_test_pred)

  print(list(models.keys())[i])

  print('Model Performance for Training Data')
  print('Mean Absolute Error: {:.4f}'.format(model_train_mae))
  print('Mean Squared Error: {:.4f}'.format(model_train_mse))
  print('Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
  print('R Square: {:.4f}'.format(model_train_r2_square))

  print('----------------------------------------')

  print('Model Performance for Test Data')
  print('Mean Absolute Error: {:.4f}'.format(model_test_mae))
  print('Mean Squared Error: {:.4f}'.format(model_test_mse))
  print('Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
  print('R Square: {:.4f}'.format(model_test_r2_square))

  print('='*35)

K-Neighbors Regressor
Model Performance for Training Data
Mean Absolute Error: 69173.6697
Mean Squared Error: 49984049643.0889
Root Mean Squared Error: 263.0089
R Square: 0.9384
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 126154.2734
Mean Squared Error: 105846700175.3568
Root Mean Squared Error: 355.1820
R Square: 0.8594
===================================
Random Forest Regressor
Model Performance for Training Data
Mean Absolute Error: 51546.5737
Mean Squared Error: 16956425085.2572
Root Mean Squared Error: 227.0387
R Square: 0.9791
----------------------------------------
Model Performance for Test Data
Mean Absolute Error: 96809.7663
Mean Squared Error: 47350886860.6488
Root Mean Squared Error: 311.1427
R Square: 0.9371
===================================